## .NET / Visual Studio
bin/
obj/
out/
[Dd]ebug/
[Rr]elease/
x64/
x86/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
project.lock.json
artifacts/

## Rider / VS Code
.idea/
.vscode/

## OS
.DS_Store
Thumbs.db

## App
appsettings.*.local.json
*.log
